*{
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

nav{
    background-color: brown;
    height: 4rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul{
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}

nav ul{
    width: max-content;
    display: flex;
    gap: 1rem;
}

header{
    width: 100%;
    height: 100%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.brief_desc{
    text-align: center;
}

.brief_desc h2{
    color: brown;
}

.brief_desc p{
    margin-top: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}



header img{
    width: 500px;
    height: 350px;
    position: absolute;
    top: -60%;
}

main .profile h2, .socials_heading, .contact_heading{
    color: brown;
    padding-bottom: 1rem;
    letter-spacing: 4px;
}

main{
    margin-top: 3rem;
    margin-bottom: 3rem !important;
}

main .container{
    width: 80%;
    margin: auto;
}

main .profile{
    position: relative;
}

.profile_picture_container{
    width: 400px;
    height: 220px;
    position: relative;
}

.profile_picture_container .blob{
    height: 500px;
}
.profile_watermark{
    position: absolute;
    z-index: -1;
    width: 400px !important;
    opacity: 30%;
    left: 10%; 
    height: 500px;
}

.profile >p{
    margin-bottom: 1rem;
}

.socials_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
}

.social img{
    width: 50px;
    height: 300px;
}

.contact_container{
    display: flex;
}

.contact_container div{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 350px !important;
}

.contact_section{
    margin-bottom: 2rem;
}

form{
    width:60%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    height: 350px;
}

input, textarea{
    background-color: transparent;
    outline: none;
    border: 2px solid brown;
    color: white;
    letter-spacing: 1px;
    padding: 12px 25px;
}

input::placeholder, textarea::placeholder{
    color: white
}

form button{
    width: max-content;
    padding: 10px 25px;
    background-color: transparent;
    border: 3px solid brown;
    color: white;
}

form button:hover{
    background-color: brown;
}

footer{
    background-color: grey;
    height: 16rem;
    margin-top: 3rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    font-size: 18px;
}


@media screen and (max-width:700px){
    .contact_container div{
        width: 40%;
        height: 300px;
    }

    .blob{
        height: 300px !important;
    }
}




@media screen and (min-width:701px) {
    header .container{
        flex-direction: row-reverse;
        width: 65%;
    }

    .contact_section{
        width: 70%;
        margin: auto;
    }

    .contact_container div{
        width: 70%;
    }
}


@media screen and (min-width:1000px) {
    #profile{
        width: 70%;
        margin: 3rem auto;
    }

    .profile_watermark{
        left: -20%;
    }

    .socials_heading, .contact_heading{
        width: 70%;
        margin: auto;
    }

    .profile_watermark{
        height: 300px;
    }
}